<br/>
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <form method="POST" role="form" class="needs-validation" name="bucket">
              <div class="form-group">
                <label for="bucketName">Name</label>
                <input name="bucket[name]" class="form-control" id="bucketName" aria-describedby="bucketNameHelp" required>
                <small id="bucketNameHelp" class="form-text text-muted">Bucket name must be unique and must not contain
                  spaces
                  or
                  uppercase letters.
                </small>
              </div>
              <div class="form-group">
                <select name="bucket[region]" class="custom-select" required>
                  <option value="" disabled selected>Select region</option>
                  <% AWS::VALID_REGIONS.each do |region| %>
                    <option value=<%= region %>><%= region %></option>
                  <% end %>
                </select>
              </div>
              <div class="form-group">
                <div class="form-check pl-4">
                  <input name="bucket[private]" type="checkbox" class="form-check-input" id="private">
                  <label class="form-check-label" for="private">Private</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Create new bucket</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>